@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Announcements Web Application</h1>
    <p class="lead">Welcome to the home page</p>
    @using (Html.BeginForm("Index", "Announcements"))
    {
        <button type="submit" class="btn btn-primary btn-lg">Announcements</button>
    }
</div>

