
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotAuthorised</title>
</head>
<body>
    <div> 
        <p> You Are not Authorised to perform this action</p>
        <p> @Html.ActionLink("Home", "Index")</p>
    </div>
</body>
</html>
